/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
* {
	box-sizing: border-box;
}

header {
	/* border: 1px solid;	 */
}

nav {
	/* border: 1px solid; */
	width: 74%;
	padding: 40px;
	display: inline-block;
}

nav a {
	display: inline-block;
	width: 16%;
	padding: 10px;
	font-size: 17px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	color: #c3c3c3;
}

.imageSection {
	display: inline-block;
	/* border: 1px solid; */
	width: 24%;
}

.imageSection img {
	display: inline-block;
	/* border: 1px solid; */
	width: 90%;
	margin-top: 100px;
}

.section1 {
	width: 100%;
	/* border: 1px solid; */
	padding: 0px;
}

h1 {
	/* border: 1px solid; */
}

.getStartedSection {
	/* border: 1px solid; */
	display: inline-block;
	width: 49%;
	text-align: center;
	font-size: 100px;
	/* padding-bottom: 120px; */
	margin-bottom: 150px;
}

.getStartedSection div {
	font-size: 20px;
	border: 2px solid;
	width: 220px;
	margin: auto;
	padding: 10px 45px;
}

.imageSection2 {
	/* border: 1px solid; */
	display: inline-block;
	width: 49%;
	padding: 40px;
}

.imageSection2 img {
	display: block;
	width: 85%;
	margin: auto;
}

.section2 {
	border-top: 2px solid;
	border-bottom: 2px solid;
}

.section2 div {
	text-align: left;
	padding: 30px 10px;
}

h2 {
	font-size: 20px;
}

.section2 p {
	font-size: 18px;
	line-height: 1.2;
}

.divClass1 {
	display: inline-block;
	width: 49%;
	margin: 5px;
}

.section2 img {
	display: block;
	margin: auto;
	width: 95%;
	padding: 0px;
}

.divClass2 {
	display: inline-block;
	width: 32%;
}

h3 {
	font-size: 20px;
}

footer address {
	font-size: 18px;
	padding-top: 50px;
}

footer div {
	font-size: 18px;
	text-align: center;
}